.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1vh;
    cursor: pointer;
    .image-avatar {
        display: flex;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        border-collapse: separate;
        margin-right: 5px;
        overflow: hidden;
        perspective: 1px;
    }
    .image-no-avatar {
        display: flex;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        margin-right: 5px;
        perspective: 1px;
        background-color: white;
        align-items: center;
        justify-content: center;
        color: black;
        font-weight: 700;
    }
    .comment-name {
        font-size: 24px;
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        color: #ffffff;
    }
}
