#video-poster {
    object-fit: cover;
    margin: 0;
}

.video-container-suggest {
    display: flex;
    position: relative;
    margin: 0;
    flex-direction: column;
    width: 100%;
    height: auto;
    video {
        display: flex;
        object-fit: cover;
        margin: 0;
        aspect-ratio: 8/5;
    }
    .duration {
        display: flex;
        position: absolute;
        bottom: 10px;
        right: 10px;
        color: white;
        font-size: 16px;
        font-family: "ABeeZee";
    }
}

@media all and (max-width: 679px) and (min-width: 481px) {
    .video-container-suggest {
        display: flex;
        width: 240px;
        height: 180px;
        margin: 0;
        video {
            display: flex;
            width: 240px;
            height: 180px;
            object-fit: cover;
            margin: 0;
        }
        .duration {
            font-size: 12px;
        }
    }
}

@media all and (max-width: 480px) {
    .video-container-suggest {
        display: flex;
        width: 200px;
        height: 150px;
        margin: 0;
        video {
            display: flex;
            width: 200px;
            height: 150px;
            object-fit: cover;
            margin: 0;
        }
        .duration {
            font-size: 8px;
        }
    }
}

@media all and (max-width: 279px) {
    body {
        display: none;
    }
}
