.container {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    right: 0;

    .content {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 50%;
        left: 50%;
        min-width: 20%;
        min-height: 40%;
        transform: translate(-50%, -50%);
        background: rgba(21, 21, 45, 0.79);
        backdrop-filter: blur(2px);
        border-radius: 10px;
    }
}
