.item-comment {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 100%;
    padding: 5px;
    .comment-content {
        display: flex;
        padding-left: 40px;
        font-size: 20px;
        font-family: "ABeeZee";
        font-style: normal;
        font-weight: 400;
        width: 90%;
        color: #ffffff;
        word-wrap: break-word; /* IE 5.5-7 */
        white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
        white-space: pre-wrap;
        overflow-y: hidden;
    }
}
